.emergency__title{
    padding-top: 100px;
}

.emergency__steps__items__container{
    display: grid;
    grid-template-columns: repeat(4, 165px);
    column-gap: 30px;
    row-gap: 55px;
    justify-content: center;
    width: 1165px;
    margin: 0 auto;
    padding: 50px 0;
}

.emergency__steps__item{
    display: grid;
    justify-items: center;
    row-gap: 20px;
    border: 1px solid #4A607A;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 20px;
    padding: 30px 16px;
    text-align: center;

    transition: all 0.2s;
}

.emergency__steps__item:hover{
    transform: scale(1.1);
    border: 1px solid #DDD0A4;
    box-shadow: -2px 7px 18px -5px rgba(48, 45, 38, 0.3);
}

.emergency__steps__item__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.emergency__steps__item__selected{
    display: flex;
    gap: 85px;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 13px;
    grid-column: 1 / span 4;
    padding: 40px 20px;
}

.emergency__steps__item__selected__content__title{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.emergency__steps__item__selected__content__list{
    list-style: inside;
    padding-left: 10px;
}

.emergency__steps__item__selected__content__list__item{
    padding-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.emergency__steps__item__selected__content__list__item__link{
    color: rgba(168, 144, 96, 1);
}